<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%=user%> !</h1>
    <a href="/logout">Sign out</a>
    
    
    <h2>Current posts:</h2>
    <ul>
        <% for(let i=0;i<posts.length;i++){ %>
            <li>
                <%=posts[i].title %>   
                <%=posts[i].message  %> <br>
              <span>Written By:</span> <%=authors[i] %> <br>
              <span>Created at:</span> <%=posts[i].createdAt %>
            </li>
            
        <% } %>
    </ul>
     
    <h2>Please add a message</h2>
    <form action="/profile/createpost" method="post">
        <label for="title"></label>
        <input type="text" name="title" placeholder="title">
        <label for="message"></label>
        <input type="text" name="message" placeholder="message">
        <button type="submit">Add a message</button>

    </form>

  </body>
</html>
